@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* FORMATTING THE GRID  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    width: 100%;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }

  button {
    border-radius: 10px;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #000; 
    cursor: pointer;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    opacity: 0.8;
    transition: all .5s;
    transition-timing-function: ease-in-out; 
  } 
  
  button:hover {
      opacity: 1;
      color: #00B4DB;
      background: #f5f5f5; 
    }
  button.active{
    border: none;
    border: 1px solid #f5f5f5;
    color: #fff;
    background: transparent;
  }
  #main{
    h1{
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 500;
    }
    padding: 15px 0;
    *{
        margin: 15px 0;
    }
    // Style the grid container
    .grid-container{
        display: grid;
        max-width: 600px;
        min-width: 600px;
        
        min-height: 600px;
        max-height: 600px;
        align-items: center;
        justify-content: center;
        border: none;
        .square{
            display: flex;
            height: 100%;
            width: 100%;
            
            border: 1px solid #f5f5f5; 
            border-radius: 4px;  
        
            opacity: 0.5;  
            background-color: transparent;
            
            transition: background-color .5s, color .5s;
            cursor: pointer; 
        
         }
         .square.erasing{
          cursor: url(../images/smallereraser.png),progress;
         }
        
    }
    .buttons {
       display: flex;
       justify-content: center;
       gap: 20px;
       flex-wrap: wrap;
    }
  } 
 

@media(max-width:650px){
    #main{
        h1{
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 500;
        }
        padding: 15px 0;
        *{
            margin: 15px 0;
        }
        // Style the grid container
        .grid-container{
            max-width: unset;
            min-width: unset;
            
            max-height: unset;
            min-height: unset;
            width:90vw; 
            height:auto;      
        }
       
      } 
}